<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CTCGageCalibration.My.MySettings.TestCenterDataSet"
            connectionString="Data Source=SVRSQLPROD;Initial Catalog=TC_Report;Persist Security Info=True;User ID=SQLSHOP;Password=C!5brKiNQ;Connect Timeout=60"
            providerName="System.Data.SqlClient" />
        <add name="CTCGageCalibration.My.MySettings.TC_ReportConnectionString"
            connectionString="Data Source=SVRSQLPROD;Initial Catalog=TC_Report;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
</configuration>
